body {
    background-color: #8d770a;
}
h1 {
    color:rgb(134, 14, 14);
   
}

img {
    border-radius: 10ex;
    height: 150px;
    width: 140px; 
}
.Leg{
    background-color: #066d4b;
} 
.Rice{
    background-color: #e4ac6d;
}